@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

/* * Utils classes */

.blue {
  background: #3c31dd;
}

.red {
  background: #dd3f31;
}

.pink {
  background: #ff0066;
}

.dark {
  background: #0f0f10;
}

.grey {
  background: #202731;
}

/** We need to remove 1px margin from the pink bax*/

.minus-top {
  margin-top: -1px;
}

a {
  text-decoration: none;
  color: #34f06c;
  transition: all 300ms ease-out;
}

a:hover,
a:focus,
a:active {
  color: #219945;
  text-decoration: underline;
}

body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  background: #171717;
  color: #ffffff;
  overflow-x: hidden;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 25em;
  padding: 6.25em 20vw;
}

/* First section with curve plain css */

.curve {
  position: absolute;
  height: 14.0625em;
  width: 100%;
  bottom: 0;
}

.curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #171717;
  transform: translate(88%, 60%);
}

.curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #3c31dd;
  transform: translate(-1%, 40%);
}

/* bubble bg plain css */

.bubble::after {
  content: '';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-color: #0f0f10;
  height: 85%;
}

/* Curved background with SVG from https://www.shapedivider.app/ */

.red {
  z-index: 99;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(103% + 1.3px);
  height: 16.375em;
}

.wave .shape-fill {
  fill: #0f0f10;
}

/* SVG background image from https://app.haikei.app/ */

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url('./images/layer1.svg');
}

.layer2 {
  background-image: url('./images/layer2.svg');
}

.flip {
  transform: rotate(180deg);
}

/* Blobs SVG background image from https://haikei.app */

.blob-motion {
  position: absolute;
  transform: translateY(-20%);
  z-index: 0;
}

.blob-content {
  z-index: 1;
}

/* Blobs SVG */

.blobs {
  background: url('./images/blobs.svg') no-repeat bottom / cover;
}
